# Python 3.10.12
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==7.1.0
Flask==3.0.3
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
imbalanced-learn==0.12.4
importlib_metadata==8.4.0
ipykernel==6.29.5
ipython==8.27.0
ipython_genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
joblib==1.4.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mistune==3.0.2
mlflow==2.16.2
mlflow-skinny==2.16.2
numba==0.60.0
numpy==2.0.2
pandas==2.2.3
Pillow==9.0.1
pytest==8.3.3
scikit-learn==1.4.2
scipy==1.14.1
shap==0.46.0
