<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHAP Explanation</title>
    <style>
        img {
            width: 20%; /* 80% de la largeur du conteneur parent */
            max-width: 600px; /* Taille maximale de l'image */
            height: auto; /* Maintient le ratio d'aspect de l'image */
            display: block;
            margin: 20px auto; /* Centre l'image horizontalement */
        }
    </style>
</head>
<body>
    <h1>SHAP Explanation for Customer {{ customer_id }}</h1>
    <img src="{{ url_for('static', filename='shap_global_importance.png') }}" alt="SHAP Global Importance">
</body>
</html>
